body {
  font-family: Arial, sans-serif;
    background-color: lightgreen;
  
}

h1 {
  text-align: center;
}

#leaderInput {
  border: 1px solid;
  display: block;
  margin: 20px auto;
  padding: 10px;
  font-size: 16px;
  border-radius: 15px;

}

#flagContainer {
  width: auto;
  height: auto;
  margin: 0px 620px;
   background-repeat: no-repeat; 
  background-position: center;
  background-size: contain;
}
